<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CWC Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.min.css" integrity="sha256-vhoUR1mPIIBUT33DIysRCsX+OCdZmNArccsNDR3s2MQ=" crossorigin="anonymous" />

  <style>
.table-small>tbody>tr>td {
  font-size:85%;
}
.table-condensed>tbody>tr>td {
  padding: 2px 5px;
}
tbody>tr>td.date {
  font-size:11px;
}
.table .progress {
  min-width:65px;
  margin-bottom:0;
}
td.number {
  padding-right:2px;
  max-width:100px;
  min-width:30px;
  text-align:right;
}
.progress-bar-active {
  background-color:#999;
}
  
  </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
    {{template "nav.html" .}}
    
    <div class="row">
    {{range .Reports}}
      {{.}}
    {{end}}
    </div>
  </body>
</html>