{{ $complaint := .FullComplaint.Complaint }}
{{ $ReadOnly := .ReadOnly }}
{{ $BasePath := .BasePath }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Complaint {{$complaint.License}} {{$complaint.Time.Format "2006/01/02 03:04pm"}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
  <style>
  .table-small>tbody>tr>td {
    font-size:85%;
  }
  .table-condensed>tbody>tr>td {
    padding: 2px 5px;
  }
  .complaint-photo {
    image-orientation: from-image; /* Use EXIF data from the image */
  }
  .panel-heading .time {
    font-size:80%;
  }
  </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
    {{template "nav.html" .}}
    {{ with .FullComplaint }}
    
    <div class="row">
      <div class="col-xs-12">
      <div class="well well-sm">
        <div class="pull-right text-center"><samp>{{.Complaint.ID}}</samp>{{if .HasGPSInfo }}<br/><img src="{{$BasePath}}complaint/{{$complaint.ID}}/map?s=200x150&z=15" width="200" height="150" />{{end}}</div>
        <p>When: <code>{{.Time.Format "2006/01/02 03:04pm (Mon Jan 2)"}}</code></p>
        <p>Vehicle: <code>{{.VehicleType}} <span class="license">{{.License}}</span></code></p>
        <p>Location: <code>{{.Location}}</code></p>
        <p>Service Request ID: <code>{{.ServiceRequestID}}</code> 
          <a href="{{ if .IsNewSRNumberFormat }}https://portal.311.nyc.gov/check-status/{{else}}http://www1.nyc.gov/NYC311-SRLookup/srlookup.htm?serviceRequestNumber={{.ServiceRequestID}}{{end}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 311 Service Request Lookup</a>
        </p>
        {{ if .TLCID }}
        <p>TLC Complaint ID: <code>{{.TLCID}}</code></p>
        {{end}}
        {{ if not .Hearing.IsZero}}
        <p>Hearing Scheduled: <code>{{.Hearing.Format "2006/01/02 03:04pm (Mon Jan 2)"}}</code></p>
        {{end}}
        <p>Status: <code>{{.Status}}</code></p>
        {{if .HasGPSInfo }}
        {{ with .GPSInfo}}
        <p>Location: <code>{{printf "%0.4f" .Lat}},{{printf "%0.4f" .Long}}</code>
          <a href="https://www.google.com/maps/place/{{.Lat}},{{.Long}}/@{{.Lat}},{{.Long}},17z/" target="_blank">google maps</a>
        </p>
        {{ end}}
        {{ end}}
        <div class="clearfix"></div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
      <h3>Complaint</h3>
      <div class="well well-sm">
      {{ range .Lines }}
      <p>{{.}}</p>
      {{ end }}
      </div>
      {{if not $ReadOnly}}
      <form action="" method="POST">
        <textarea class="form-control" rows="3" name="append_text"></textarea>
        <button type="submit" class="btn btn-primary">Add Notes</button>
      </form>
      {{end}}
    </div>
    </div>

    {{ if .Violations }}
    <div class="row">
      <div class="col-xs-12">
        <h3>Violations</h3>
        <dl class="dl-horizontal">
          {{range .Violations}}
            <dt>{{.Code}}</dt><dd>{{.Description}}</dd>
          {{end}}
        </dl>
      </div>
    </div>
    {{ end }}

    {{ if .Tweets }}
    <div class="row">
      <div class="col-xs-12">
        {{range .Tweets}}
          <p><a href="{{.}}"><img src="https://abs.twimg.com/favicons/favicon.ico" width="16" height="16"> {{.}}</a></p>
        {{end}}
      </div>
    </div>
    {{ end }}

    {{ if .PDFs }}
    <div class="row">
      <div class="col-xs-12">
        <h3>Attachments</h3>
        <ul>
        {{ range .PDFs }}
          <li><a href="{{$BasePath}}complaint/{{$complaint.ID}}/{{.}}">{{.}}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}

    {{ if .Files }}
    <div class="row">
      <div class="col-xs-12">
        <h3>Attachments</h3>
        <ul>
        {{ range .Files }}
          <li><a href="{{$BasePath}}complaint/{{$complaint.ID}}/{{.}}">{{.}}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
    
    {{ if .PhotoDetails }}
    <div class="row">
      <div class="col-xs-12">
      <h3>Photos</h3>
      </div>
      {{ range .PhotoDetails }}
      <div class="col-md-4 col-lg-3 col-xs-6">
        <div class="panel {{. | PhotoClass }}"> 
          <div class="panel-heading">{{.Name}} <code class="time">{{.Created.Format "2006-01-02 03:04pm"}}</code></div>
          <a href="{{$BasePath}}complaint/{{$complaint.ID}}/{{.Name}}"><img src="{{$BasePath}}complaint/{{$complaint.ID}}/{{.Name}}?w=350" class="img-responsive complaint-photo" title="{{.Name}}" /></a>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ if not $ReadOnly }}
    {{ if not .HasGPSInfo }}
    {{ $ll := .GeoClientLookup }}
      <a href="https://www.google.com/maps/place/{{$ll.Lat}},{{$ll.Long}}/@{{$ll.Lat}},{{$ll.Long}},17z/" target="_blank">{{$ll.Lat}},{{$ll.Long}} google maps</a>
    {{ end }}
    {{ end }}
    
    {{ end }}
    
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script> -->
    
  </body>
</html>